# User-specific / Editor files
.idea/
.vscode/
*.suo
*.user

# Sub-project build and dependency folders
frontend/node_modules/
frontend/dist/
frontend/.angular/cache/

[Bb]in/
[Oo]bj/

# All skills
.agents
.claude
context
